.door-sensor-card {
    display: flex;
    flex-direction: column; 
    gap: var(--spacing-xs);
    align-items: center;
}

.sensor-name-label {
    justify-self: center;
    align-self: center;
    margin: 0px;
    text-align: center;
    word-break: break-word; /* Allows long unbreakable text to wrap instead of blowing out the card */
}

.lower-container {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.device-container {
    display:flex;
    flex: 1;
    gap: var(--spacing-xs);
    flex-direction: column;
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    border-bottom: 1px solid var(--border-color);
}

.values-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: var(--spacing-xs);
    justify-content: space-between;
}

.battery-container {
    display: flex;
    gap: var(--spacing-xxs);
}