.body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}