.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    gap: var(--spacing-md);
}

.header-content-container {
    flex: 1;
}