.device-container {
    display:flex;
    flex: 1;
    gap: var(--spacing-xs);
    flex-direction: column;
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    border-bottom: 1px solid var(--border-color);
}

.values-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: var(--spacing-xs);
    align-items: center;
}

.battery-container {
    display: flex;
    gap: var(--spacing-xxs);
}