.device-container {
    display:flex;
    flex: 1;
    gap: var(--spacing-xs);
    flex-direction: column;
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    border-bottom: 1px solid var(--border-color);
    text-decoration: none;
}
.device-container:hover {
    border-bottom-color: var(--border-hover-color);
}
.device-container:active {
    color: var(--text-active-color);
    border-bottom-color: var(--border-hover-color);
}

.values-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: var(--spacing-xs);
    align-items: center;
}

.battery-container {
    display: flex;
    gap: var(--spacing-xxs);
}