.device-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
}

.device-rename-button {
    border: 0;
    background-color: inherit;
}

.device-rename-button:active {
    color: var(--primary);
}