@keyframes spinningAnimation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.loader-circle {
    color: var(--primary);
    animation-name: spinningAnimation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-iteration-count: infinite;
}